 .navbar {
      height: 60px;
      background-color: #0f1111;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      gap: 12px;

      padding: 0 16px;
      width: 100%;
    }

    .nav-logo {

      padding: 10px 0 ;
      width: 150px;
      height: 50px;
    }

    .logo {
      background-image: url("https://www.pngmart.com/files/23/Amazon-Logo-White-PNG-Image.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 40px;
      width: 100%;
      background-size: contain;
    }


    .border {
      border: 2px solid transparent;

    }

    .border:hover {
      padding: 5px;
      border: 2px solid white;
    }

    /* search bar css */

    .nav-search {
      display: flex;
     
      height: 39px;
      justify-content: space-evenly;

      flex: 1;
      min-width: 200px;
      max-width: 820px;


    }


    .search {
      background-color: #f3f3f3;
      width: 60px;
      height: 39px;
      font-size: 1rem;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      text-align: center;
      border: none;

    }

    .search-box {
      width: 100%;
      height: 39px;
      font-size: 1rem;
      padding-left: 10px;
      border: none;
      outline: none;
    }

    .search-btn {
      font-size: 1rem;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: rgb(255, 193, 79);
    }

    .nav-search:hover {
      outline: 4px solid #f29419;
      border-radius: 4px;
      opacity: 0.9;

    }


    /* .search,
    .search-box,
    .search-btn {
    height: 52px;
    font-size: 1rem;
    } */


    /* account section css */

    span {
      font-size: 0.8rem;
    }

    .nav-second {
      font-size: 0.9rem;
      font-weight: 600;
    }



    .cart {
      font-size: 1.2rem;
      font-weight: 600;
    }





    /*  panel  */

    .panel {
      height: 40px;
      background-color: #232f3e;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }


    .panel-item {
      justify-content: start;

      font-size: 1rem;
      font-weight: 400;
      cursor: pointer;
    }


    

    @media (max-width: 600px) {
      .navbar {
        height: auto;
        flex-wrap: wrap;
        padding: 8px;
      }

      .nav-logo {
        width: 120px;
        height: 50px;
        padding: 0;
      }

      .nav-search {
        order: 3;
        width: 100%;
        margin-top: 8px;
      }

      .account,
      .language,
      .return {
        display: none;
      }

      .cart {
        font-size: 18px;
      }
    }



    @media (max-width: 1024px) {

      .nav-adress,
      .language,
      .return {
        display: none;
      }

      .nav-search {
        max-width: 100%;
      }

      .navbar {
        justify-content: space-between;
      }
    }




    @media (max-width: 1439px) {
      .nav-search {
        max-width: 800px;
      }
    }


    @media (min-width: 1440px) {
      .navbar {
        /* max-width: 1500px; */
        width: 100%;
        margin: 0 auto;
      }
    }























    /* =========================
       HERO SECTION
       ========================= */

    .hero {
      position: relative;
      width: 100%;
      background: transparent;
      z-index: 1;
      padding-top: 252px;
      padding-left: 32px;
      padding-right: 32px;
      

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      overflow: hidden;
    }


     .shop{
        
      padding-left: 32px;
      padding-right: 32px;
      margin-bottom: 20px;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      overflow: hidden;

     }


    .hero-image {
      position: absolute;
      top: 300;
      left: 50%;
      transform: translateX(-50%);

      width: 100%;

      height: 420px;

      background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/2025/GW/SSH/Unrec/PC/934044757._CB774996144_.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;

      z-index: 1;
    }

    .hero::after {
      content: "";
      position: absolute;
      top: 300px;
      left: 0;

      width: 100%;
      height: 600px;

      background: linear-gradient(to bottom,
          rgba(255, 215, 232, 0) 0%,
          rgba(255, 215, 232, 0.35) 5%,
          rgba(255, 215, 232, 0.7) 10%,
          #ffd7e8 20%,
          #eae8e9 40%,
          #e2e4e5 100%);
    
      z-index: 2;
      pointer-events: none;
    }







    /* .top {
      margin-top: 349px;
    } */

    .box {

      background-color: #ffffff;
      border-radius: 2px;
      padding: 22px 20px;

      max-width:  350px;
      min-height: 400px;
     

     
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

     
      z-index: 3;

      display: flex;
      flex-direction: column;

      position: relative;

      transition: box-shadow 0.2s ease, transform 0.2s ease;

    }


    .box:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
      transform: translateY(-2px);
    }




    .box-content {
    
      display: flex;
    
      height: 100%;
      flex-direction: column;
      /* gap: 20px; */
      gap: 10px;

    
      margin: 0;
      padding: 0;
    }

    .box-content h2 {
      /* font-size: 27px;
      margin-bottom: 10px; */

      min-height: 20px;


      display: flex;
      align-items: flex-start;


      font-size: 1.4rem;
      line-height: 1.20;
      font-weight: 600;
      
    }


    .box-img-grid {
      display: grid;
     
      grid-template-columns: repeat(2, 1fr);
      /* gap: 20px; */
      /* height: 300px; */
      width: 100%;
      column-gap: 10px;
      row-gap: 18px;

      /* margin-top: 6px; */
    }

    .grid-item {
      display: flex;
      flex-direction: column;
      padding: 0 2px;
      font-size: 13px;
      color: #000000;
      text-align: left;
      justify-content: flex-start;

      position: relative;
      overflow: visible;
    }

    .grid-item img {
      width: 100%;
      height: 115px;
      object-fit: cover;
      border-radius: 1px;
      /* margin-bottom: 5px; */

      transform: scale(1);
      transition:
        transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
        box-shadow 0.4s ease;

      z-index: 1;
      position: relative;

      perspective: 1000px;
    }

    .grid-item:hover img {
      transform: scale(1.15);
      /*  BIG POP */
      z-index: 20;
      box-shadow: 0 18px 45px rgba(0, 0, 0, 0.7);
    }




    .grid-item span {
      font-size: 13px;

      line-height: 1.35;
      margin-top: 1px;

      display: block;

      /* transition: color 0.2s ease; */

      transition:
        transform 0.35s ease,
        color 0.25s ease;
      font-size: 0.35s ease;

      position: relative;
      z-index: 1;
    }

    .grid-item:hover span {
      color: #bb0808;
      /* Amazon orange */

      transform: translateY(+10px);
      z-index: 40;
      font-size: 15px;
    }





    .box-content a {
      /* color: #1b6c7b; */
      text-decoration: none;
      font-size: 12px;

      margin-top: auto;
      margin-left: 7px;

      font-weight: 400;
      letter-spacing: 0.15px;
      color: #005985;
      /* display: block; */

      transition: color 0.2s ease;
    }

    .box-content a:hover {
      text-decoration: underline;
      color: #c7511f;
    }



    .box:hover {
      transform: translateY(-2px);
    }




    .box,
    .grid-item,
    .box-content a {
      cursor: pointer;
    }








    /* RESPONSIVE NESS */

    @media (max-width: 600px) {
      .hero {
        grid-template-columns: 1fr;
        /* 1 card per row */
         padding: 220px;

        height: 260px;
        
      }

      .box {
        height: auto;
        width: 320px;
      }

      .box-img-grid {
        gap: 10px;
      }

      .grid-item img {
        height: 120px;
      }

        .hero-image {
    height: 360px;
  }

  .hero::after {
    top: 180px;
    height: 22px;
  }

    }



    @media (min-width: 601px) and (max-width: 1024px) {
      .hero {
        grid-template-columns: repeat(2, 1fr);
        /* 2 cards per row */
        grid-template-rows: auto;
        height: auto;
      }

      .box {
        height: auto;
      }

      .grid-item img {
        height: 130px;
      }
    }




    @media (min-width: 1200px) {
      .hero {
        max-width: 100%;
        margin: auto;
      }
    }



    * {
      transition: all 0.2s ease;
    }








    /* ---------------------- */
    /* AMAZON STYLE SCROLLER */
    /* ---------------------- */
    .scroll-box {
     
      background: rgb(255, 255, 255);
      padding: 20px;
      
     position: relative;
     z-index: 0;
      padding-left: 32px;
      padding-right: 32px;
      margin-bottom: 38px;
      margin-left: 70px;
      margin-right: 40px;
      margin-top: 20px;
      border: 1px solid #ddd;
    }

    .scroll-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 12px;
    }

    .scroll-container {
      display: flex;
      overflow-x: auto;
      gap: 24px;
      padding-bottom: 10px;
      scroll-behavior: smooth;
    }

    .scroll-item img {
      height: 200px;
      width: auto;
      object-fit: contain;
      background: #fff;
    }

    /* Hide scrollbar  */
    .scroll-container::-webkit-scrollbar {
      height: 4px;
    }

    .scroll-container::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 10px;
    } 



    @media (max-width: 600px) {
  .scroll-box {
    padding: 12px;
    margin: 12px;
  }

  .scroll-title {
    font-size: 1.1rem;
  }

  .scroll-container {
    gap: 14px;
  }

  .scroll-item img {
    height: 140px;
  }
}


  @media (min-width: 601px) and (max-width: 1024px) {
  .scroll-title {
    font-size: 1.25rem;
  }

  .scroll-container {
    gap: 20px;
  }

  .scroll-item img {
    height: 180px;
  }
}




@media (min-width: 1024px) {
  .scroll-box {
    max-width: 1500px;
    margin: 24px 30px;
  }

  .scroll-item img {
    height: 240px;
  }
}






  /* SHOP-SECTION */

 






















  /* FOTTER */

  footer {
  margin-top: 10px;
}



.foot1 {

  background-color: #31465c;
  color: white;
  height: 51px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}



.foot2 {

  background-color: #222c3f;
  color: white;
  height: 320px;
  
  display: flex;
  justify-content: space-evenly;

}

ul {
  
  margin-top: 50px;
}

ul a {
   color: #dcddd4;
  cursor: pointer;
  display: block;
  margin-top: 8px;
  font-size: 0.9rem;

}


.foot3 {
  background-color: #222c3f;
  color: white;
  border-top: 0.1px solid rgb(87, 87, 87);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo2 {
  background-image: url(kindpng_172246.png);
  height: 39px;
  width: 125px;
  background-size: cover;




}


.foot4 {
  background-color: #0f1111;
  color: white;
  height: 80px;
  text-align: center;
  font-size: 0.7rem;

}



.pages {

  padding-top: 25px;
}

.pages a {
  font-size: 0.8rem;
  color: #c8ced0;
  margin-left: 12px;
  cursor: pointer;
}

.copy {
  font-size: 0.8rem;
  color: #c8ced0;
  padding-top: 6px;
 

}
